<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.keithandthegirl.app">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <application
        android:name=".MainApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_short_name"
        android:theme="@style/KatgTheme">

        <meta-data
            android:name="com.crashlytics.ApiKey"
            android:value="48dbf78187c50c1b67191d33e57b549d459cca14" />

        <activity
            android:name=".ui.intro.IntroActivity"
            android:label="@string/title_activity_intro" />

        <activity
            android:name=".ui.main.MainActivity"
            android:label="@string/app_name"
            android:theme="@style/KatgTheme.MainActivity" >

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>

        <activity
            android:name=".ui.shows.ShowsActivity"
            android:label="@string/title_activity_shows"
            android:parentActivityName=".ui.main.MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.main.MainActivity" />
        </activity>

        <activity
            android:name=".ui.episode.EpisodeActivity"
            android:label="@string/title_activity_episode">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.shows.ShowsActivity" />
        </activity>

        <activity
            android:name=".ui.settings.SettingsActivity"
            android:label="@string/title_activity_settings"
            android:parentActivityName=".ui.main.MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.keithandthegirl.app.ui.main.MainActivity" />
        </activity>

        <activity
            android:name=".ui.youtube.VideoPlayerActivity"
            android:label="@string/title_activity_video_player"
            android:parentActivityName=".ui.main.MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.main.MainActivity" />
        </activity>

        <activity
            android:name=".ui.youtube.YoutubeFragmentActivity"
            android:label="@string/app_name" />

        <activity android:name=".ui.player.PlaybackControlsActivity" />

        <!-- KATG Receivers -->
        <receiver android:name=".sync.KatgAlarmReceiver" />

        <receiver
            android:name=".sync.DeviceBootReceiver"
            android:enabled="false">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>

        <receiver android:name=".ui.widget.ShowNextEventWidget">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/widget_info_show_next_live_event" />
        </receiver>

        <receiver android:name=".services.download.DownloadBroadcastReciever">
            <intent-filter>
                <action android:name="android.intent.action.DOWNLOAD_NOTIFICATION_CLICKED" />
                <action android:name="android.intent.action.DOWNLOAD_COMPLETE" />
            </intent-filter>
        </receiver>

        <receiver android:name=".services.media.MediaIntentReceiver">
            <intent-filter>
                <action android:name="android.media.AUDIO_BECOMING_NOISY" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.MEDIA_BUTTON" />
            </intent-filter>
        </receiver>

        <!-- KATG Services -->
        <service
            android:name=".services.media.MediaService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.keithandthegirl.app.services.media.action.TOGGLE_PLAYBACK" />
                <action android:name="com.keithandthegirl.app.services.media.action.PLAY" />
                <action android:name="com.keithandthegirl.app.services.media.action.PAUSE" />
                <action android:name="com.keithandthegirl.app.services.media.action.SKIP" />
                <action android:name="com.keithandthegirl.app.services.media.action.REWIND" />
                <action android:name="com.keithandthegirl.app.services.media.action.FASTFORWARD" />
                <action android:name="com.keithandthegirl.app.services.media.action.STOP" />
                <action android:name="com.keithandthegirl.app.services.media.action.STATUS" />
                <action android:name="com.keithandthegirl.app.services.media.action.SEEK" />
            </intent-filter>
            <intent-filter>
                <action android:name="com.keithandthegirl.app.services.media.action.URL" />
            </intent-filter>
        </service>

        <!-- KATG Providers -->
        <provider
            android:name=".db.KatgProvider"
            android:authorities="com.keithandthegirl.provider"
            android:exported="true"
            android:syncable="true" />

    </application>

</manifest>
